body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family:'Gabarito';
    padding: 20px;
    background-color: white;
}

.adminSignup{
    flex: 1;
    display: flex;
    background-color: #315a70;
    border-radius: 12px;
    padding-right: 0;

}
.bg-body-tertiary{
    background-color: transparent !important;
    border: none;
    box-shadow: none;
}
.navbar-brand{
    display: inline-flex;
}
#logo_name{
    color: #ff5757;
    font-size: 26px;
    padding-top:10px;
}


#main-row{
    flex:1;
    margin:1px 1px 1px 3px;
    background-color:white;
    border-radius: 12px;


}

.img-fluid{
    min-width:100%;
    min-height: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.form-control{
    font-family: 'Gabarito';
    font-size: 16px;
    font-weight: normal;
    border-width: 2px;
    border-color: #333;
    background-color:whitesmoke;
}
.form-label {
    font-size: 18px;
    font-weight: bold;
}

form >label{
    font-weight: 500;
}

.form-control>input{
    font-weight: 300;
    border:solid rgb(154, 19, 19);
    color:lightgray;
}

.col-md-6.adminFname,.col-md-6.adminpassword1{
    padding-right: 0 !important;
}

.col-md-6.adminLname,.col-md-6.adminpassword2{
    padding-right: 0 !important;
}