<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<!--NIDHI SHAH-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/admin_dashboard.css">
</head>

<body>
<nav class="navbar bg-body-tertiary navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <!-- <img src="Meetsy_logo.png" alt="M" width="60" class="d-inline-block">
                 <span class ="d-inline-block" id="logo_name">eetsy</span> -->
            <div class="d-flex align-items-center">
                <img src="/assests/Meetsy_logo.png" alt="M" width="65">
                <!-- <span id="logo_name">eetsy</span> -->
            </div>
        </a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">About</a>
                <a class="nav-link" href="#">Contact</a>

              </div> -->
        <div class="d-flex pl-4 adminnav">
            <div class="d-flex align-items-center">
                <span><i class="bi bi-person-fill pr-5"></i></span>
                <p class='pl=2 mb-0' id="admin" value=""></p>
            </div>
        </div>
    </div>
</nav>
<div>
    <div class="card org-card" th:object="${organization}">
        <h5 class="card-header">Organization Details</h5>
        <div class="card-body">
            <div class="d-flex">
                <h5> Name: </h5>
                <h5 class="card-title" id="orgName" th:text="*{orgName}"></h5>
            </div>

            <p class="card-text">
            <div class="d-flex">
                <p>Description:</p>
                <p id="orgdesc" th:text="*{orgDescription}"></p>
            </div>
            <div class="d-flex">
                <p>Address:</p>
                <p id="orgAddress" th:text="*{orgAddress1 + (!orgAddress2.isEmpty() ? ',r ' + orgAddress2 : '') + ' , ' + orgCity + ' , ' + orgState}"></p>


            </div>
            <div class="d-flex mb-0 pb-0">
                <p>Contact:</p>
                <p id="orgNumber" th:text="*{orgContact}"></p>
            </div>
            </p>
        </div>
    </div>
</div>
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#team">Team Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="true" data-bs-toggle="tab" href="#clients">Clients</a>
            </li>

        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane" id="clients" th:object="${clients}">
                <div class="container-fluid justify-content-end">
                    <button class="btn btn-primary"> Add Client </button>
                </div>
                <table class="table">
                    <thead class="table-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>

                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <tr th:if="${#lists.isEmpty(clients)}">
                        <td colspan="2"> Organization does not have any client. </td>

                    </tr>
                    <tr th:unless="${#lists.isEmpty(clients)}" th:each="client, iterStat : ${clients}">
                        <td th:text="${iterStat.count}"></td> <!-- Display the index -->
                        <td th:text="${client.firstName}"></td>
                        <td th:text="${client.lastName}"></td>

                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="tab-pane active" id="team" th:object="${teammembers}">
                <div class="container-fluid justify-content-end">
                    <button class="btn btn-primary"> Add Team Member </button>
                </div>
                <table class="table">
                    <thead class="table-light">
                    <tr>

                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Role</th>

                    </tr>
                    </thead>
                    <tbody class="table-group-divider" id="team-member-list">
                    <tr th:if="${#lists.isEmpty(teammembers)}">
                        <td colspan="3">No team members available.</td>
                    </tr>
                    <tr th:unless="${#lists.isEmpty(teammembers)}" th:each="teamMember : ${teammembers}">
                        <td th:text="${teamMember.firstName}"></td>
                        <td th:text="${teamMember.lastName}"></td>
                        <td th:text="${teamMember.roleName}"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer class="footer bg-body-tertiary text-center py-2">
    <div class="container">
        <p>&copy; 2023 Your Company. All rights reserved.</p>
    </div>
</footer>

<!-- <script>
      var myTabs = new bootstrap.Tab(document.getElementById('clients'));
      myTabs.show();
    </script> -->


<!-- <script src="data.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<!--<script src="../Js/adminpage.js"></script>-->
</body>

</html>