<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:java8="http://www.thymeleaf.org/extras/java8time"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Boostrap min.css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- bootstrap datepicker min.css-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <!-- -->
    <!--- Extra css for fonts and icons-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/availability_setup_page.css">
    <title>Your Meeting Scheduler</title>
</head>

<body>
<!---------------------------- NAVBAR ------------------------>
<nav class="navbar bg-body-tertiary navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <div class="d-flex align-items-center">
                <img src="/assests/Meetsy_logo.png" alt="M" width="65">
            </div>
        </a>

        <!-- Replace the toggle button with a user icon -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <!-- Use your custom user icon here -->
            <i class="bi bi-person-fill" style="color: whitesmoke; border: none"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <div class="navbar-nav">
                <div class="d-flex pl-4 adminnav">
                    <div class="d-flex align-items-center">
                        <!-- Display the user icon on larger screens -->
                        <span class="d-none d-lg-block"><i class="bi bi-person-fill pr-2"></i></span>
                        <p class='px-2 mb-0' id="admin" th:text="${#authorization.getAuthentication().name}"></p>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-primary">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!------------------------ NAVBAR END -------------------------->
<!------------------- AVAILABILITY FORM ------------------------>

<div class="container-fluid pt-3 px-3" style="background-color: rgb(245, 248, 248);">
    <div class="row mx-3">
        <div class="col">
            <h4>Availability Setup</h4>

            <!-- Add your form here -->
            <form th:action="@{/saveavailability}" method="post" th:object="${teammeber}">
                <!-- Form fields, checkboxes, inputs, and buttons go here -->
                <div class="row mb-3 g-3" >
                    <!-- Meeting Window -->
                    <div class="col-md-12">
                        <label class="form-label">Organization</label>
                        <input type="text" class="form-control" th:field="*{orgName}" readonly />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="meetingWindow">Meeting Window</label>
                        <select class="form-control" id="meetingWindow" th:field="*{meetingWindow}" required>
                            <option value="30" selected>30 minutes</option>
                            <!-- Add more options as needed -->
                        </select>
                    </div>
                    <!-- Meeting Type -->
                    <div class="col-md-6">
                        <label class="form-label">Meeting Type</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="onSite" name="meetingType"
                                       value="OnSite" th:field="*{onSiteMeetingAvailable}" th:checked="*{onSiteMeetingAvailable}">
                                <label class="form-check-label" for="onSite">OnSite</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="zoom" name="meetingType"
                                       value="Zoom" th:field="*{zoomMeetingAvailable}" th:checked="*{zoomMeetingAvailable}">
                                <label class="form-check-label" for="zoom">Zoom</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Timezone and zoom meeting link -->
                <div class="row mb-3 g-3">
                    <!-- Your TimeZone -->
                    <div class="col-md-6">
                        <label class="form-label" for="timezone">Your TimeZone</label>
                        <select class="form-control scrollable-dropdown" id="timezone" name="timezone" th:field="*{timeZone}" required>
                            <!-- JavaScript will populate this list -->
                        </select>
                    </div>

                    <!-- Zoom Link -->
                    <div class="col-md-6" id="zoomLinkDiv" style="display: none;">
                        <label class="form-label" for="zoomLink">Zoom Link</label>
                        <input type="text" class="form-control" id="zoomLink" name="zoomLink" th:field="*{zoomMeetingLink}">
                    </div>
                </div>

                <div class="container mx-0 p-0">
                    <div class="row" th:object="${daysavail}">
                        <!-- ... (previous content) ... -->
                        <div class="col-12">
                            <h4> Weekly Hours Setup</h4>
                        </div>
                        <div class="row gl-2">
                            <!----        -->
                            <div class="col-12 mb-2 day-container">
                                <!-- FOR MONDAY TIME SLOTS-->
                                <div class="card">
                                    <!-- Card content for Monday -->
                                    <div class="card-header d-flex .justify-content-between pb-1">
                                        <h5>Monday</h5>
                                        <button type="button" class="btn btn-primary addTimeSlotBtn">+</button>
                                    </div>
                                    <div class="card-body px-auto day-card" data-day-section="monday"  >
<!--                                        <div class="d-flex justify-content-between pb-1">-->
<!--                                            <h5 class="card-title">Monday</h5>-->
<!--                                            <button type="button" class="btn btn-primary addTimeSlotBtn">+</button>-->
<!--                                        </div>-->
                                        <div class="row d-flex day-content"  th:if="${daysavail.getMondayTimeSlot!= null}" th:each="timeSlot, mondayIndex : ${daysavail.mondayTimeSlot}">
                                            <div class="col-5">
                                                <div class="input-group date  bootstrap-timepicker">
                                                    <input type="text" class="form-control timePicker" th:field="*{mondayTimeSlot[__${mondayIndex.index}__].startTime}" required>
                                                    <span class="input-group-addon">
                                                            <span class="input-group-text bg-white">
                                                                <i class="bi bi-clock" aria-hidden="true"></i>
                                                            </span>
                                                        </span>
                                                </div>
                                            </div>
                                            <div class="col-5" >
                                                <div class="input-group date bootstrap-timepicker"
                                                     th:id="${'monday-end-time-' + mondayIndex.index}">
                                                    <input type="text" class="form-control timePicker" th:field="*{mondayTimeSlot[__${mondayIndex.index}__].endTime}" required>
                                                    <span class="input-group-addon">
                                                            <span class="input-group-text bg-white">
                                                                <i class="bi bi-clock" aria-hidden="true"></i>
                                                            </span>
                                                        </span>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                            <button class="btn btn-danger timeslotCancel">X</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- FOR TUESDAY TIMESLOT -->
                            <div class="col-12 mb-2 day-container" >
                                <div class="card">
                                    <!-- Tuesday content -->
                                    <div class="card-header d-flex .justify-content-between pb-1">
                                        <h5>Tuesday</h5>
                                        <button type="button" class="btn btn-primary addTimeSlotBtn">+</button>
                                    </div>
                                    <div class="card-body day-card" data-day-section="tuesday">
                                        <div class="row d-flex day-content"   th:if="${daysavail.tuesdayTimeSlot !=null}" th:each="timeSlotT, tuesdayIndex : ${daysavail.tuesdayTimeSlot}">
                                            <div class="col-5">
                                                <div class="input-group date  bootstrap-timepicker"
                                                     id="tuesday-start-time">
                                                    <input type="text" class="form-control timePicker" th:field="*{tuesdayTimeSlot[__${tuesdayIndex.index}__].startTime}">
                                                    <span class="input-group-addon">
                                                            <span class="input-group-text bg-white">
                                                                <i class="bi bi-clock" aria-hidden="true"></i>
                                                            </span>
                                                        </span>
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <div class="input-group date bootstrap-timepicker"
                                                     id="tuesday-end-time">
                                                    <input type="text" class="form-control timePicker " th:field="*{tuesdayTimeSlot[__${tuesdayIndex.index}__].endTime}">
                                                    <span class="input-group-addon">
                                                            <span class="input-group-text bg-white">
                                                                <i class="bi bi-clock" aria-hidden="true"></i>
                                                            </span>
                                                        </span>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-danger timeslotCancel">X</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!----        -->
                            <div class="col-12 mb-2 day-container" >
                                <!-- FOR WEDNESDAY TIME SLOTS-->
                                <div class="card">
                                    <!-- Card content for wednesday -->
                                    <div class="card-header d-flex .justify-content-between pb-1">
                                        <h5>Wednesday</h5>
                                        <button type="button" class="btn btn-primary addTimeSlotBtn">+</button>
                                    </div>
                                    <div class="card-body day-card" data-day-section="wednesday">
                                        <div class="row d-flex day-content"  th:if="${daysavail.wednesdayTimeSlot !=null}" th:each="timeSlotW, wednesdayIndex : ${daysavail.wednesdayTimeSlot}">
                                            <div class="col-5">
                                                <div class="input-group date  bootstrap-timepicker"
                                                     id="wednesday-start-time">
                                                    <input type="text" class="form-control timePicker" th:field="*{wednesdayTimeSlot[__${wednesdayIndex.index}__].startTime}">
                                                    <span class="input-group-addon">
                                                            <span class="input-group-text bg-white">
                                                                <i class="bi bi-clock" aria-hidden="true"></i>
                                                            </span>
                                                        </span>
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <div class="input-group date bootstrap-timepicker"
                                                     id="wednesday-end-time">
                                                    <input type="text" class="form-control timePicker " th:field="*{wednesdayTimeSlot[__${wednesdayIndex.index}__].endTime}">
                                                    <span class="input-group-addon">
                                                            <span class="input-group-text bg-white">
                                                                <i class="bi bi-clock" aria-hidden="true"></i>
                                                            </span>
                                                        </span>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-danger timeslotCancel">X</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!----        -->
                            <div class="col-12 mb-2 day-container" >
                                <!-- FOR Thursday TIME SLOTS-->
                                <div class="card">
                                    <!-- Card content for Thursday -->
                                    <div class="card-header d-flex .justify-content-between pb-1">
                                        <h5>Thursday</h5>
                                        <button type="button" class="btn btn-primary addTimeSlotBtn">+</button>
                                    </div>
                                    <div class="card-body day-card" data-day-section="thursday">
                                        <div class="row d-flex day-content"  th:if="${daysavail.thursdayTimeSlot !=null}" th:each="timeSlotTH, thursdayIndex : ${daysavail.thursdayTimeSlot}">
                                            <div class="col-5">
                                                <div class="input-group date  bootstrap-timepicker"
                                                     id="thursday-start-time">
                                                    <input type="text" class="form-control timePicker" th:field="*{thursdayTimeSlot[__${thursdayIndex.index}__].startTime}">
                                                    <span class="input-group-addon">
                                                            <span class="input-group-text bg-white">
                                                                <i class="bi bi-clock" aria-hidden="true"></i>
                                                            </span>
                                                        </span>
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <div class="input-group date bootstrap-timepicker"
                                                     id="thursday-end-time">
                                                    <input type="text" class="form-control timePicker " th:field="*{thursdayTimeSlot[__${thursdayIndex.index}__].endTime}">
                                                    <span class="input-group-addon">
                                                            <span class="input-group-text bg-white">
                                                                <i class="bi bi-clock" aria-hidden="true"></i>
                                                            </span>
                                                        </span>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-danger timeslotCancel">X</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!----        -->
                            <div class="col-12 mb-2 day-container" >
                                <!-- FOR firday TIME SLOTS-->
                                <div class="card">
                                    <!-- Card content for Friday -->
                                    <div class="card-header d-flex .justify-content-between pb-1">
                                        <h5>Friday</h5>
                                        <button type="button" class="btn btn-primary addTimeSlotBtn">+</button>
                                    </div>
                                    <div class="card-body day-card" data-day-section="friday">
                                        <div class="row d-flex day-content" th:if="${daysavail.fridayTimeSlot != null}" th:each="timeSlotF, firdayIndex : ${daysavail.fridayTimeSlot}">
                                            <div class="col-5">
                                                <div class="input-group date  bootstrap-timepicker" id="firday-start-time">
                                                    <input type="text" class="form-control timePicker" th:field="*{fridayTimeSlot[__${firdayIndex.index}__].startTime}">
                                                    <span class="input-group-addon">
                                                                <span class="input-group-text bg-white">
                                                                    <i class="bi bi-clock"aria-hidden="true"></i>
                                                                </span>
                                                            </span>
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <div class="input-group date bootstrap-timepicker" id="friday-end-time"  >
                                                    <input type="text" class="form-control timePicker " th:field="*{fridayTimeSlot[__${firdayIndex.index}__].endTime}">
                                                    <span class="input-group-addon">
                                                                <span class="input-group-text bg-white">
                                                                    <i class="bi bi-clock"aria-hidden="true"></i>
                                                                </span>
                                                            </span>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-danger timeslotCancel">X</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!----        -->
                            <div class="col-12 mb-2 day-container" >
                                <!-- FOR saturday TIME SLOTS-->
                                <div class="card">
                                    <!-- Card content for saturday -->
                                    <div class="card-header d-flex .justify-content-between pb-1">
                                        <h5>Saturday</h5>
                                        <button type="button" class="btn btn-primary addTimeSlotBtn">+</button>
                                    </div>
                                    <div class="card-body day-card" data-day-section="saturday" >
                                        <div class="row d-flex day-content"  th:if="${daysavail.saturdayTimeSlot != null}" th:each="timeSlotS, saturdayIndex : ${daysavail.saturdayTimeSlot}">
                                            <div class="col-5">
                                                <div class="input-group date  bootstrap-timepicker" id="saturday-start-time">
                                                    <input type="text" class="form-control timePicker" th:field="*{saturdayTimeSlot[__${saturdayIndex.index}__].startTime}">
                                                    <span class="input-group-addon">
                                                                <span class="input-group-text bg-white">
                                                                    <i class="bi bi-clock"aria-hidden="true"></i>
                                                                </span>
                                                            </span>
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <div class="input-group date bootstrap-timepicker" id="saturday-end-time" >
                                                    <input type="text" class="form-control timePicker " th:field="*{saturdayTimeSlot[__${saturdayIndex.index}__].endTime}">
                                                    <span class="input-group-addon">
                                                                <span class="input-group-text bg-white">
                                                                    <i class="bi bi-clock"aria-hidden="true"></i>
                                                                </span>
                                                            </span>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-danger timeslotCancel">X</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!----        -->
                            <div class="col-12 mb-2 day-container" >
                                <!-- FOR Sunday TIME SLOTS-->
                                <div class="card">
                                    <!-- Card content for sunday -->
                                    <div class="card-header d-flex .justify-content-between pb-1">
                                        <h5>Sunday</h5>
                                        <button type="button" class="btn btn-primary addTimeSlotBtn">+</button>
                                    </div>
                                    <div class="card-body day-card" data-day-section="sunday" >
                                        <div class="row d-flex day-content"  th:if="${daysavail.sundayTimeSlot!= null}" th:each="timeSlotSU, sundayIndex : ${daysavail.sundayTimeSlot}">
                                            <div class="col-5">
                                                <div class="input-group date  bootstrap-timepicker" id="sunday-start-time">
                                                    <input type="text" class="form-control timePicker" th:field="*{sundayTimeSlot[__${sundayIndex.index}__].startTime}">
                                                    <span class="input-group-addon">
                                                                <span class="input-group-text bg-white">
                                                                    <i class="bi bi-clock"aria-hidden="true"></i>
                                                                </span>
                                                            </span>
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <div class="input-group date bootstrap-timepicker" id="sunday-end-time" >
                                                    <input class="form-control timePicker "
                                                           th:field="*{sundayTimeSlot[__${sundayIndex.index}__].endTime}"
                                                            type="text">
                                                    <span class="input-group-addon">
                                                                <span class="input-group-text bg-white">
                                                                    <i class="bi bi-clock"aria-hidden="true"></i>
                                                                </span>
                                                            </span>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-danger timeslotCancel">X</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--row end-->
                        </div>

                    </div>
                    <!--------- Button to save Time slots --->
                    <div class="d-flex justify-content-center mb-3">
                        <button class="btn btn-primary mt-3" type="submit" >Save Availability</button>
                    </div>

                </div>
            </form>
        </div>
        <!-- <div class="col-1"> -->
        <!-- Calendar image -->
        <!-- <img src="../assests/calender_back.jpg" alt="Calendar" class="img-fluid float-right"> -->
        <!-- </div> -->
    </div>
</div>
<!-- Jquery to support datepicker-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- moment js for time and timezone-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<!-- moment-timezone library -->
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.36/moment-timezone-with-data.min.js"></script>

<!-- Bootstrap Js-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<!-- date picker JS-->
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/availability_setup_page.js"></script>
<script>
    $(document).ready(function () {
        // Use event delegation for dynamically added elements
        $('body').on('click', '.bootstrap-timepicker', function () {
            $(this).datetimepicker({
                format: 'HH:mm'
            });
        });
    });
</script>
</body>

</html>