<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<!--NIDHI SHAH-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meetsy</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>

<body>
<nav class="navbar bg-body-tertiary navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand"  th:href="@{/}">

            <div class="d-flex align-items-center">
                <img src="/assests/Meetsy_logo.png" alt="M" width="65">

            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
                <a class="nav-link" aria-current="page" th:href="@{/signup}">Sign Up</a>
                <a class="nav-link" aria-current="page" href="#">About</a>
                <a class="nav-link" href="#">Contact</a>

            </div>
        </div>

    </div>
</nav>
<div class="container-fluid mainSection">
    <div class="row">
        <div class=" app-description col-md-6 col-xs-12">
            <h1 class="display-2">
                <span style="color:#c4327f;">M</span><span style="color:#ff5757">eetsy</span>
            </h1>
            <div>
                <p class="text-justify" id="aboutSmall">
                    A robust scheduling and appointment management platform,
                    tailored to assist organizations and clients in optimizing meeting schedules.
                    Control availability, simplify scheduling, and elevate the meeting experience.
                </p>
            </div>
            <button type="button" class="btn btn-primary btn-lg" id="start_btn">
                <a th:href="@{/orgsetup}">Let's Setup</a>
            </button>
        </div>
        <div class="col-md-6 col-xs-12">
            <img src="/assests/calender_back.jpg" alt="" width="100%" />
<!--            <img th:src="@{/assets/calender_back.jpg}" alt="" width="100%" />-->

        </div>
    </div>
</div>
<footer class="footer bg-body-tertiary text-center py-2">
    <div class="container">
        <p>&copy; 2023 Your Company. All rights reserved.</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>