<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meeting Schedule</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/meeting_schedule.css">
</head>
<body>
<!---- NAVBAR ----->
<nav class="navbar bg-body-tertiary navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <div class="d-flex align-items-center">
                <img src="/assests/Meetsy_logo.png" alt="M" width="65">
            </div>
        </a>

        <!-- Replace the toggle button with a user icon -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <!-- Use your custom user icon here -->
            <i class="bi bi-person-fill" style="color: whitesmoke; border: none"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <div class="navbar-nav">
                <div class="d-flex pl-4 adminnav">
                    <div class="d-flex align-items-center">
                        <!-- Display the user icon on larger screens -->
                        <span class="d-none d-lg-block"><i class="bi bi-person-fill pr-2"></i></span>
                        <p class='px-2 mb-0' id="admin" th:text="${#authorization.getAuthentication().name}"></p>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-primary">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!---- FORM 2 - MEETING SETUP --->
<div class="container mt-2">

    <div class="row justify-content-center">

        <div class="card shadow text-align-center">
            <div class="row text-center">
                <h3 class="display-5 mt-3" th:text="${teammember.firstName}+' '+ ${teammember.lastName}"></h3>
                <h4> <span class="mr-1"><i class="bi bi-clock"></i></span> 30-Minute Meeting Schedule</h4>
                <p class="instruction">Select your preferred date and time slot for the meeting.</p>
                <p class="text-muted mb-0" th:text="'Note: Timeslots are in the '+${teammember.timeZone}+' timezone.'"></p>
            </div>
            <div class="row">
                <!-- Calender-->
                <div class="col-md-6 offset-md-3 mt-3" id="calenderside">
                    <div class="calendar">
                        <div class="calendar-header">
                            <i class="bi bi-chevron-left ml-2" onclick="prevMonth()"></i>
                            <h5 id="monthYear"></h5>
                            <i class="bi bi-chevron-right mr-2" onclick="nextMonth()"></i>
                        </div>
                        <div class="calendar-body" id="calendarBody">
                            <!-- Days of the week will be dynamically generated here -->
                        </div>
                        <div class="calendar-footer">

                        </div>
                    </div>
                </div>
                <!-- RIGHT SIDE FORM  -->
                <div class="col-md-6 mt-3 px-4 text-center d-none" id="formColumn">
                    <form id="meetingForm" th:action="@{/meetingschedule/{id}(id=${teammember.id})}" method="post">

                        <div class="card text-center">
                            <!---SELECTED DATE -->
                            <div class="card-header">
                                <div class="row text-center align-items-center justify-content-center">
                                    <label class="col-5 p-0 text-end" for="selectedDate"><b>Selected Date:</b></label>
                                    <input class="col-4 p-0 timezone_border" name="selectedDate" id="selectedDate" value="selectedDate" readonly>
                                </div>
                            </div>
                            <div class="card-body">
                                <!-- MEETING TYPE SELECTION-->
                                <div class="row text-center align-items-center justify-content-center my-1">
                                    <label class="cardLabel">Select Meeting Type</label>
                                    <select id="meetingType" name="selectedMeetingType" class="px-0 text-center" required>
                                        <option disabled selected>Choose option</option>
                                        <option th:if="${teammember.isOnSiteMeetingAvailable()}">OnSite</option>
                                        <option th:if="${teammember.isZoomMeetingAvailable()}">Zoom</option>
                                    </select>
                                </div>
                                <!---SELECTED TIMESLOT -->
                                <input type="hidden" name="selectedTimeSlot" id="selectedTimeSlot" value="timeSlot">
                                <input type="hidden" name="selectedDay" id="selectedDay" value="day">
                                <!------------------------>
                                <!--EACH DAY AVAILABILITY LIST DISPLAY-->
                                <!----- MONDAY --->
                                <div id ="Monday" class="day-list form-group row d-none" >
                                    <!-- for label -->
                                    <div class="justify-content-center align-content-center cardLabel px-4">
                                        <label>Meeting Windows: </label>
                                    </div>
                                    <div class="scrollable-container" >
                                        <ul class="timeslotList" th:if="${!daysavail.mondayTimeSlot.isEmpty()}">
                                            <li th:each="timeSlot : ${daysavail.mondayTimeSlot}">
                                                <button class="btn btn-outline-primary btn-block m-1" type="button" th:text="${timeSlot.startTime}+'-'+${timeSlot.endTime}" onclick="selectTimeSlot('Monday', this.innerText)"></button>
                                            </li>
                                        </ul>
                                        <div th:if="${daysavail.mondayTimeSlot.isEmpty()}">
                                            <p>No available timeslots for Monday.</p>
                                        </div>
                                    </div>
                                </div>
                                <!----- Tuesday --->
                                <div id ="Tuesday" class="day-list form-group row d-none" >
                                    <!-- for label -->
                                    <div class="justify-content-center align-content-center cardLabel px-4">
                                        <label>Meeting Windows: </label>
                                    </div>
                                    <div class="scrollable-container" >
                                        <ul class="timeslotList" th:if="${!daysavail.tuesdayTimeSlot.isEmpty()}">
                                            <li th:each="timeSlot : ${daysavail.tuesdayTimeSlot}">
                                                <button class="btn btn-outline-primary btn-block m-1" type="button" th:text="${timeSlot.startTime}+'-'+${timeSlot.endTime}" onclick="selectTimeSlot('Tuesday', this.innerText)"></button>
                                            </li>
                                        </ul>
                                        <div th:if="${daysavail.tuesdayTimeSlot.isEmpty()}">
                                            <p>No available timeslots for Tuesday.</p>
                                        </div>
                                    </div>
                                </div>
                                <!----- Wednesday --->
                                <div id ="Wednesday" class="day-list form-group row d-none" >
                                    <!-- for label -->
                                    <div class="justify-content-center align-content-center cardLabel px-4">
                                        <label>Meeting Windows: </label>
                                    </div>
                                    <div class="scrollable-container" >
                                        <ul class="timeslotList" th:if="${!daysavail.wednesdayTimeSlot.isEmpty()}">
                                            <li th:each="timeSlot : ${daysavail.wednesdayTimeSlot}">
                                                <button class="btn btn-outline-primary btn-block m-1" type="button" th:text="${timeSlot.startTime}+'-'+${timeSlot.endTime}" onclick="selectTimeSlot('Wednesday', this.innerText)"></button>
                                            </li>
                                        </ul>
                                        <div th:if="${daysavail.wednesdayTimeSlot.isEmpty()}">
                                            <p>No available timeslots for Wednesday.</p>
                                        </div>
                                    </div>
                                </div>
                                <!----- Thursday --->
                                <div id ="Thursday" class="day-list form-group row d-none" >
                                    <!-- for label -->
                                    <div class="justify-content-center align-content-center cardLabel px-4">
                                        <label>Meeting Windows: </label>
                                    </div>
                                    <div class="scrollable-container" >
                                        <ul class="timeslotList" th:if="${!daysavail.thursdayTimeSlot.isEmpty()}">
                                            <li th:each="timeSlot : ${daysavail.thursdayTimeSlot}">
                                                <button class="btn btn-outline-primary btn-block m-1" type="button" th:text="${timeSlot.startTime}+'-'+${timeSlot.endTime}" onclick="selectTimeSlot('Thursday', this.innerText)"></button>
                                            </li>
                                        </ul>
                                        <div th:if="${daysavail.thursdayTimeSlot.isEmpty()}">
                                            <p>No available timeslots for Thursday.</p>
                                        </div>
                                    </div>
                                </div>
                                <!----- Friday --->
                                <div id ="Friday" class="day-list form-group row d-none" >
                                    <!-- for label -->
                                    <div class="justify-content-center align-content-center cardLabel px-4">
                                        <label>Meeting Windows: </label>
                                    </div>
                                    <div class="scrollable-container" >
                                        <ul class="timeslotList" th:if="${!daysavail.fridayTimeSlot.isEmpty()}">
                                            <li th:each="timeSlot : ${daysavail.fridayTimeSlot}">
                                                <button class="btn btn-outline-primary btn-block m-1" type="button" th:text="${timeSlot.startTime}+'-'+${timeSlot.endTime}" onclick="selectTimeSlot('Friday', this.innerText)"></button>
                                            </li>
                                        </ul>
                                        <div th:if="${daysavail.fridayTimeSlot.isEmpty()}">
                                            <p>No available timeslots for Friday.</p>
                                        </div>
                                    </div>
                                </div>
                                <!----- Saturday --->
                                <div id ="Saturday" class="day-list form-group row d-none" >
                                    <!-- for label -->
                                    <div class="justify-content-center align-content-center cardLabel px-4">
                                        <label>Meeting Windows: </label>
                                    </div>
                                    <div class="scrollable-container" >
                                        <ul class="timeslotList" th:if="${!daysavail.saturdayTimeSlot.isEmpty()}">
                                            <li th:each="timeSlot : ${daysavail.saturdayTimeSlot}">
                                                <button class="btn btn-outline-primary btn-block m-1" type="button" th:text="${timeSlot.startTime}+'-'+${timeSlot.endTime}" onclick="selectTimeSlot('Saturday', this.innerText)"></button>
                                            </li>
                                        </ul>
                                        <div th:if="${daysavail.saturdayTimeSlot.isEmpty()}">
                                            <p>No available timeslots for Saturday.</p>
                                        </div>
                                    </div>
                                </div>
                                <!----- Sunday --->
                                <div id ="Sunday" class="day-list form-group row d-none" >
                                    <!-- for label -->
                                    <div class="justify-content-center align-content-center cardLabel px-4">
                                        <label>Meeting Windows: </label>
                                    </div>
                                    <div class="scrollable-container" >
                                        <ul class="timeslotList" th:if="${!daysavail.sundayTimeSlot.isEmpty()}">
                                            <li th:each="timeSlot : ${daysavail.sundayTimeSlot}">
                                                <button class="btn btn-outline-primary btn-block m-1" type="button" th:text="${timeSlot.startTime}+'-'+${timeSlot.endTime}" onclick="selectTimeSlot('Sunday', this.innerText)"></button>
                                            </li>
                                        </ul>
                                        <div th:if="${daysavail.sundayTimeSlot.isEmpty()}">
                                            <p>No available timeslots for Sunday.</p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary" id="sheduleButton" onclick="return checkForm(event)">Schedule Meeting</button>

                            </div>
                        </div>

                    </form>
                </div>
                <!----END OF FORM ----->
            </div>
        </div>
    </div>
</div>
<!----------- --------------------->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="/js/meeting_schedule_page.js"></script>

</body>
</html>
